.container {
    text-align: center;
    margin: 10%;
}

ion-button {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;

}

.btn-custom {
    transition: background-color 0.3s ease;
  }