<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <p class="title">Registro de Pasajero</p>
    <p class="subTitle">Completa tu informacion</p>
  </div>

  <div class="ion-padding">

    <form [formGroup]="registerForm" (keyup.enter)="Confirmar()">
          
      <ion-item>
        <ion-input type="email" placeholder="correo institucional" name="email" formControlName="email"></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
      <div class="container" *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
        <div class="mensaje" *ngIf="registerForm.get('email')?.hasError('required')">
          <p>¡El email es obligatorio!</p>
        </div>
        <div class="mensaje" *ngIf="registerForm.get('email')?.hasError('email')">
          <p>¡Debe ser una dirección de email válida!</p>
        </div>
        <div class="mensaje" *ngIf="registerForm.get('email')?.hasError('correoExistente')">
          <p>Esta dirección de correo ya existe</p>
        </div>
      </div>

      <ion-item>
        <ion-select aria-label="Fruit" interface="action-sheet" placeholder="Sede Duoc Uc" formControlName="sede">
          <ion-select-option value="alameda">Alameda</ion-select-option>
          <ion-select-option value="antonio-varas">Antonio Varas</ion-select-option>
          <ion-select-option value="maipu">Maipú</ion-select-option>
          <ion-select-option value="melipilla">Melipilla</ion-select-option>
          <ion-select-option value="alonso-valle">Padre Alonso de Ovalle</ion-select-option>
          <ion-select-option value="plaza-oeste">Plaza Oeste</ion-select-option>
          <ion-select-option value="plaza-vespucio">Plaza Vespucio</ion-select-option>
          <ion-select-option value="plaza-norte">Plaza Norte</ion-select-option>
          <ion-select-option value="puente-alto">Puente Alto</ion-select-option>
          <ion-select-option value="san-bernardo">San Bernardo</ion-select-option>
          <ion-select-option value="apoquindo">San Carlos de Apoquindo</ion-select-option>
          <ion-select-option value="san-joaquin">San Joaquín</ion-select-option>
        </ion-select>
        <ion-icon name="globe-outline"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="rut" name="rut" formControlName="rut"></ion-input>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-item>
      <div class="container" *ngIf="registerForm.get('rut')?.invalid && (registerForm.get('rut')?.dirty || registerForm.get('rut')?.touched )">
        <div class="mensaje" *ngIf="registerForm.get('rut')?.hasError('required')">
          <p>¡Rut obligatorio!</p>
        </div>
      </div>

      <ion-item>
        <ion-input type="password" maxlength="9" placeholder="contraseña" name="password" formControlName="password"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div class="container" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
        <div class="mensaje" *ngIf="registerForm.get('password')?.hasError('required')">
          <p>¡Contraseña obligatoria!</p>
        </div>
        <div class="mensaje" *ngIf="registerForm.get('password')?.hasError('minlength')">
          <p>¡Contraseña mínima de 8 carácteres!</p>
        </div>
      </div>

      <div class="cuenta">
        <a [routerLink]="['/login']">¿Ya tienes una cuenta?</a>
      </div>

    <ion-button [routerLink]="['/viajar']" (click)="registroPasajero()" [disabled]="!registerForm.valid" (click)="Confirmar()" size="small" expand="block" fill="solid" color="primary" shape="round">
      Confirmar
    </ion-button>

  </form>

  </div>

</ion-content>
