.header {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    .subTitle {
        color: gray;
        font-size: 0.9rem;
    }
    title {
        font-size: 2rem;
    }

}

ion-button {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;

}