<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/perfil']">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="header">
    <p class="title">TeLlevoAPP</p>
    <p class="subTitle">Bienvenido {{ usuario }}</p>
  </div>

  <ion-card>
    <img src="https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2023/02/google-maps-2961754.jpg?tf=3840x" alt="maps">
  </ion-card>

  <div class="ion-padding">

    <ion-list > 
      <ion-item *ngFor="let a of detalle; let i=index" [routerLink]="['/viajes-list', a.id]" class="ion-item-background">
        <ion-label>{{a['direccion']}}</ion-label>
        <ion-label>{{a['patente']}}</ion-label>
      </ion-item>
    </ion-list>


    <ion-card-content>
      <ion-button  size="small" (click)="Viajar()" expand="block" fill="solid" color="primary" shape="round">
        Buscar conductores
      </ion-button>
    </ion-card-content>

    <ion-card-content style="text-align: center;">
      
      <ion-button size="small" [routerLink]="['/inicio']" (click)="logout()">Cerrar Sesión
        <ion-icon slot="icon-only" name="exit-outline" color="dark" size="small" ></ion-icon>
      </ion-button>
    </ion-card-content>

<!--       <div *ngIf="mostrarCarga" class="mensaje-carga">
        Buscando vehículos disponibles, porfavor espere...
      </div>  -->



  </div>
</ion-content>
