.input {
    font-size: 300;
}

ion-item {
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
    font-size: 0.9rem;
}


.header {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    .subTitle {
        color: gray;
        font-size: 0.9rem;
    }
    title {
        font-size: 2rem;
    }

}


.password{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    a{
        font-weight: 400;
        font-size: 0.8rem;
    }
}

ion-button {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;

}

.mensaje {
    font-size: 0.7rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    color: red;
}